@model BMEDmgt.Areas.MedEngMgt.Models.KeepFormatDtl

@{
    ViewBag.Title = "保養格式明細/編輯";
}

<h2>保養格式明細/編輯</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

   
        @Html.HiddenFor(model => model.FormatId)
        @Html.HiddenFor(model => model.Sno)
        <div class="editor-label">
            @Html.LabelFor(model => model.FormatId)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.FormatId)
            @Html.ValidationMessageFor(model => model.FormatId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Sno)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Sno)
            @Html.ValidationMessageFor(model => model.Sno)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Descript)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descript)
            @Html.ValidationMessageFor(model => model.Descript)
        </div>

        <p>
            <input type="submit" value="儲存" />
        </p>
}

@*<div>
    @Html.ActionLink("回到列表", "Edit", "KeepFormats", new { id = Model.FormatId }, null)
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
