@model IEnumerable<BMEDmgt.Areas.MedEngMgt.Models.UnSignListVModel>
@using BMEDmgt.Areas.MedEngMgt.Models
<p>
    @Html.ActionLink("匯出Excel", "UnSignListExcel", new { uv = TempData["qry"] as ReportQryVModel }, null)
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocTyp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccDpt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccDptNam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TroubleDes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FailFactor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DealDes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DealState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngNam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClsEmp)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocTyp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocId)
            </td>
            <td>
                @item.ApplyDate.ToString("yyyy/MM/dd")
            </td>
            <td>
                @if (item.EndDate != null)
                {
                    @item.EndDate.Value.ToString("yyyy/MM/dd");
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccDpt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccDptNam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TroubleDes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FailFactor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealDes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngNam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClsEmp)
            </td>
        </tr>
    }

</table>

