@model BMEDmgt.Areas.MedEngMgt.Models.AssetKeepType

<form id="fmKEEPTYPEEDIT">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AssetNo)
        @Html.HiddenFor(model => model.KeepTypeNo)

        <div class="form-group">
            @Html.LabelFor(model => model.AssetNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.AssetNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KeepTypeNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.KeepTypeDes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContractNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContractNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContractNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KeepYm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KeepYm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KeepYm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KeepYm2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KeepYm2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KeepYm2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="form-inline">
                @Html.LabelFor(model => model.KeepEngId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.KeepEngId, ViewData["KeepTypeEngId"] as SelectList, "請選擇", new { @class = "form-control comboboxEdit" })
                    @Html.ValidationMessageFor(model => model.KeepEngId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hours, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hours, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InOut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.InOut, ViewData["KeepTypeInOut"] as SelectList, "請選擇", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.InOut, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FormatId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FormatId, ViewData["KeepTypeFormatId"] as SelectList, "請選擇", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FormatId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="keepTypeEditBtn" type="button" value="儲存" class="btn btn-default" />
                <img id="imgTypeLOADING2" src="~/Images/opc-ajax-loader.gif" style="display: none" />
            </div>
        </div>

    </div>
</form>


<script>
    $(function () {
        $('.comboboxEdit').combobox();
        var url = '@Url.Action("Edit", "AssetKeepTypes", new { Area = "MedEngMgt" })'
        $('#keepTypeEditBtn').click(function () {
            $("#imgTypeLOADING2").show();

            var s = $("#fmKEEPTYPEEDIT").serialize();
            $.ajax({
                url: url,
                type: "POST",
                data: s,
                async: true,
                success: function (data) {
                    if (data.success == false) {
                        alert(data.error);
                    } else {
                        alert('儲存成功!');
                        $('#pnlAssetKeepTypes').html(data);
                    }
                }
            });
            $("#imgTypeLOADING2").hide();
        });
    });
</script>
