@model BMEDmgt.Areas.MedEngMgt.Models.Evaluation
@{
    Layout = null;
}

<script>
    function showmsg2(data) {
        if (!data.success) {
            alert(data.error);
        }
        else {
            alert("感謝您的建議與評分!!");
        }
    }
</script>

<div class="form-horizontal">

    @*<h2>國立陽明大學附設醫院 @Model.Qname</h2>
    <hr />*@

    @using (Ajax.BeginForm("New2", "Questionnaire",
                                new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    LoadingElementId = "imgLOADING",
                                    OnSuccess = "showmsg2"
                                }, new { id = "questForm" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Docid)
        @Html.HiddenFor(model => model.YYYYmm)
        @*<div class="form-group">
            <div class="form-inline">
                <div class="col-md-12 text-left">
                    @Html.Label("CustId", "單位名稱", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("CustId", ViewData["Dept"] as SelectList, "請選擇", new { @class = "form-control combobox" })
                        @Html.ValidationMessageFor(model => model.CustId, "", new { @class = "text-danger" })
                    </div>
                    @Html.Label("ContractNo", "合約名稱", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("ContractNo", ViewData["Contract"] as SelectList, "請選擇", new { @class = "form-control combobox" })
                        @Html.ValidationMessageFor(model => model.CustId, "", new { @class = "text-danger" })
                    </div>
                </div>             
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Questions)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input id="btnQuestSEND" type="button" value="確定送出" class="btn btn-default" />
            </div>
        </div>
    }
</div>
