@model IEnumerable<BMEDmgt.Areas.MedEngMgt.Models.KeepEndRate>


<h4>保養達成率</h4>
<p>
    <a class="btn btn-default" href="@Url.Action("ExcelKeepEndRate", TempData["qry"])">匯出Excel</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndCases)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeepCases)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndCasesRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndCasesIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeepCasesIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndCasesRateIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndCasesOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeepCasesOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndCasesRateOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeepCasesOther)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCases)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeepCases)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCasesRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCasesIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeepCasesIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCasesRateIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCasesOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeepCasesOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCasesRateOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeepCasesOther)
            </td>
        </tr>
    }
</table>
