@model IEnumerable<BMEDmgt.Areas.MedEngMgt.Models.KeepEndRate>


<h4>保養達成率</h4>
<p>
    <a class="btn btn-default" href="@Url.Action("ExcelAssetKeepList")">匯出Excel</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndCases)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeepCases)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndCasesRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndCases1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeepCases1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndCasesRate1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndCases2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeepCases2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndCasesRate2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeepCasesOther)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCases)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeepCases)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCasesRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCases1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeepCases1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCasesRate1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCases2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeepCases2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCasesRate2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeepCasesOther)
            </td>
        </tr>
    }
</table>
