@model BMEDmgt.Areas.MedEngMgt.Models.QuestSend
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
@{
    ViewBag.Title = "Index";
}

<h2>服務滿意度調查</h2>
@using (Ajax.BeginForm("Index", new AjaxOptions { UpdateTargetId = "pnlQuestSendList", OnSuccess="alert('問卷發送成功!!')" }))
{
    @Html.ValidationSummary(true)
    <div class="display-label">
        @Html.LabelFor(model => model.GrpName)
    </div>
    <div class="display-field">
        @Html.DropDownListFor(model => model.GroupId, ViewData["GROUP"] as SelectList, "請選擇")
    </div>
    <div>
        <div class="display-label">
            發送問卷年月：(格式：西元年+月份)
        </div>
        @Html.EditorFor(model => model.YYYYmm)
    </div>
    <p>
        <input type="submit" value="發送問卷" />
    </p>
}
<div id="pnlQuestSendList">
    @Html.Action("List")
</div>
