@using (Ajax.BeginForm("DeliveryListIndex","Delivery",new AjaxOptions { UpdateTargetId="pnlDELIVERYLIST" }))
{
    <table>
        <tr>
            <td>@Html.Label("", "表單編號")
                @Html.TextBox("qtyDOCID")</td>
            <td>
                @Html.Label("", "採購案號")
                @Html.TextBox("qtyPURCHASENO")</td>
            <td>
                @Html.Label("", "財產編號")
                @Html.TextBox("qtyASSETNO")</td>
            <td>
                @Html.Label("", "成本中心")
                @Html.TextBox("qtyACCNO")</td>           
        </tr>
        <tr>
            <td>
                @Html.Label("", "預算編號")
                @Html.TextBox("qtyBUDGETID")
            </td>
            <td>
                @Html.Label("", "合約號碼")
                @Html.TextBox("qtyCONTRACTNO")
            </td>
            <td>
                @Html.Label("", "申請單位")
                @Html.TextBox("qtyCUSTID")
            </td>
            <td>
                @Html.Label("", "流程狀態")
                @Html.DropDownList("qtyFLOWTYP", ViewData["Item"] as SelectList)
            </td>
        </tr>
    </table>
        
    <p>
        <input id="btnDelivQry" type="submit" value="查詢" />
    </p>

<div id="pnlDELIVERYLIST">
    @Html.Action("DeliveryList","Delivery")
</div>
}