@model BMEDmgt.Areas.MedEngMgt.Models.Delivery
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

@{
    ViewBag.Title = "驗收/查看";
}

<h2>驗收/查看</h2>

<fieldset>
    <legend>驗收單</legend>

    <div style="margin-bottom: 10px">
        @Html.Partial("_AttainFile", Model)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.UserId)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.UserId)
        @Html.ValidationMessageFor(model => model.UserId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.UserName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.UserName)
        @Html.ValidationMessageFor(model => model.UserName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Company)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Company)
        @Html.ValidationMessageFor(model => model.Company)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Contact)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Contact)
        @Html.ValidationMessageFor(model => model.Contact)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ApplyDate)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ApplyDate)
        @Html.ValidationMessageFor(model => model.ApplyDate)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.AccDpt)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.AccDpt)
        @Html.EditorFor(model => model.AccDptNam)
        @Html.ValidationMessageFor(model => model.AccDpt)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ContractNo)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ContractNo)
        @Html.ValidationMessageFor(model => model.ContractNo)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.WartyMon)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.WartyMon)
        @Html.ValidationMessageFor(model => model.WartyMon)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.PurchaseNo)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PurchaseNo)
        @Html.ValidationMessageFor(model => model.PurchaseNo)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.CrlItemNo)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.CrlItemNo)
        @Html.ValidationMessageFor(model => model.CrlItemNo)
    </div>
    @*<div class="editor-label">
            @Html.LabelFor(model => model.MakeNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MakeNo)
            @Html.ValidationMessageFor(model => model.MakeNo)
        </div>*@

    <div class="editor-label">
        @Html.LabelFor(model => model.VendorNo)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.VendorNam)
        @Html.ValidationMessageFor(model => model.VendorNam)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DelivPson)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DelivPson)
        @Html.EditorFor(model => model.DelivPsonNam)
        @Html.ValidationMessageFor(model => model.DelivPson)
        @Html.Action("UserInfo", "Account", new { id = Model.DelivPson })
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DelivDateR)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.DelivDateR)
        @Html.ValidationMessageFor(model => model.DelivDateR)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Memo)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Memo)
        @Html.ValidationMessageFor(model => model.Memo)
    </div>
    @*<div id="pnlASSETS">
            <div class="display-label">
                儀器列表
            </div>
            <div style="padding-left: 20px; color: gray">
                @Html.Action("BuyEvaluateListItem", "Asset", new { id = Model.Docid, upload = "查看" })
            </div>
        </div>*@
    @* <div id="pnlVENDOR">
            <h2>廠商專區
            </h2>
            <div id="gvASSETLIST" style="padding-left: 20px; color: gray">
                @Html.Action("BuyEvaluateListItem", "Asset", new { id = Model.Docid })
            </div>
        </div>*@
    <div>
        @*style="pointer-events:none"*@
        @Html.Action("WartyData", "Delivery", new { id = Model.Docid })
    </div>
    <div>
        @Html.Action("GetList", "DelivFlow", new { id = Model.Docid })
    </div>

</fieldset>