@model IEnumerable<BMEDmgt.Areas.MedEngMgt.Models.DelivFlow>
<h2>流程資訊</h2>
<table style="width: 100%;margin-left: 30px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stepid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Userid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opinions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rtt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cls)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stepid)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.UserNam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opinions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @if (item.Status == "1")
            {
                <div>已處理</div>
            }
            else if (item.Status == "?")
            {
                <div>未處理</div>
            }
            else if (item.Status == "2")
            {
                <div>結案</div>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rtt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cls)
        </td>
    </tr>
}
</table>
<h3>目前關卡：<span id="cls_now">@ViewData["cls_now"]</span></h3>
<script>
    $(document).ready(function () {
        
    });
</script>
