@model PagedList.IPagedList<BMEDmgt.Areas.MedEngMgt.Models.Asset>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@if (Roles.IsUserInRole("Admin"))
{
    @*@Html.ActionLink("新增設備", "Create", null, new { @class = "btn btn-default" })
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalFILES">
                <img class="pull-left" width="20" height="20" src="~/Images/excel_icon.png" />&nbsp;匯入資料
            </button>*@
    <div class="form-horizontal" style="padding-bottom: 20px;">
        <div class="form-group">
            <div class="col-md-8">
                @Html.ActionLink("新增設備", "Create", null, new { @class = "btn btn-default col-md-2" })
                <a class="btn btn-default col-md-2" href="@Url.Action("AssetExcel", TempData["qry"])">匯出Excel</a>
                <a class="btn btn-default col-md-4" href="@Url.Content("~/Files/Samples/匯入設備Excel範本.xlsx")" value="">下載匯入設備Excel範本</a>

                <form action="ImportAssetsByExcel" method="post" enctype="multipart/form-data">
                    <div class="form-inline">
                        <label class="btn btn-default">
                            <input type="file" id="uploadFile" name="uploadFile" class="btn btn-default" style="display:none;">
                            <span>匯入設備Excel檔案</span>
                            <input type="submit" hidden />
                        </label>
                    </div>
                </form>

            </div>
            <div class="col-md-4 text-left">
                <div class="form-inline">
                   
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-inline">
                <div style="margin-bottom: 10px">
                    @Html.Label("KeepEngId", "負責工程師", new { @class = "control-label  col-md-2" })
                    @Html.DropDownList("KeepEngId", null, "請選擇", new { @class = "form-control" })
                    <input class="btn btn-default" id="btnTRANS" type="button" value="確定轉移" />
                </div>          
                @Html.Label("DelivUid", "保管人", new { @class = "control-label  col-md-2" })
                @Html.TextBox("DelivEmp", "", new { @class = "form-control", placeholder = "姓名關鍵字" })
                <input class="btn btn-default" id="btnQtyEmp" type="button" value="查詢" />
                @Html.DropDownList("DelivUid", null, "請選擇", new { @class = "form-control" })
                <input class="btn btn-default" id="btnDELIVTRANS" type="button" value="確定轉移" />
            </div>
        </div>
    </div>
}
<!-- 夾帶檔案 Modal -->
<div id="modalFILES" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">選擇上傳檔案</h4>
            </div>
            <div class="modal-body">
                @Html.Action("UpdAssetExcel", "AttainFiles")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">離開</button>
            </div>
        </div>
    </div>
</div>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.CheckBox("chkALL")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AssetClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AssetNo)
            </th>
            <th>
                中/英文名稱
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Cname2)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().AccDate)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BuyDate)
            </th>
            <th>
                廠牌/規格/型號
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.VendorId)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.DisposeKind)
                </th>*@
            <th>
                保管部門/保管人
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LeaveSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().AccDpt)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Shares)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MakeNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Note)
            </th>
            <th></th>
        </tr>
        @{
            var role = "";
            if (Roles.IsUserInRole("Admin"))
            {
                role = "admin";
            }
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.CheckBox("chkENG")
                    </td>
                    <td>
                        @if (item.DisposeKind == "報廢")
                {
                            <span style="color: red;">報廢</span>
                        }
                        @Html.DisplayFor(modelItem => item.AssetClass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cname)<br />
                        @Html.DisplayFor(modelItem => item.Ename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cname2)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.AccDate)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.BuyDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)<br />
                        @Html.DisplayFor(modelItem => item.Standard)<br />
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.VendorId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisposeKind)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.DelivDptName)<br />
                        @Html.DisplayFor(modelItem => item.DelivEmp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveSite)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccDptName)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Shares)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.MakeNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td style="width:100px">
                        @if (role == "admin")
                        {
                            @Html.ActionLink("修改", "Edit", new { ano = item.AssetNo }, new { target = "_blank" })<br />
                            @Html.ActionLink("刪除", "Delete", new { id = item.AssetNo }, new { name = "del" })<br />
                        }
                        @Html.ActionLink("預覽", "Details", new { ano = item.AssetNo }, new { target="_blank"})
                    </td>
                </tr>
            }
        }
    </table>
</div>

<div>
    @Html.PagedListPager(Model,
    page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>

<script type="text/javascript">
    $('a[name="del"]').click(function () {
        if (confirm("確定要刪除此記錄?")) {
            $.ajax({
                url: $(this).attr('href'),
                type: "GET",
                success: function (data) {
                    $('#btnQTY').trigger('click');
                },
                error: function (msg) {
                    alert(msg);
                }
            });
            return false;
        }
        else {
            return false;
        }
    });

    $('input[name="chkALL"]').change(function () {
        if ($(this).prop("checked")) {
            $("input[name='chkENG']").each(function () {
                $(this).prop("checked", true);
            });
        }
        else {
            $("input[name='chkENG']").each(function () {
                $(this).prop("checked", false);
            });
        }
    });

    $("#btnTRANS").click(function () {
        var s = "";
        $("input[name='chkENG']:checked").each(function () {
            s += $(this).parents("tr").children().get(2).innerText.trim();
            s += ";";
        });
        var eng = $("#KeepEngId").val();
        if (s != "" && eng != "")
        {
            $.ajax({
                url: '../AssetKeeps/UpdEngineer',
                data: { id: eng, assets: s },
                type: "POST",
                success: function (data) {
                    alert('移轉工程師完成!!');
                },
                error: function (msg) {
                    alert(msg);
                }
            });
        }
    });

    $("#btnQtyEmp").click(function () {
        var emp = $("#DelivEmp").val();
        $.ajax({
            contentType: "application/json; charset=utf-8",
            url: '../AppUsers/GetUsersByKeyname',
            type: "GET",
            data: { id: "", keyname: emp },
            dataType: "json",
            success: function (data) {
                //var s = '[{"ListKey":"44","ListValue":"test1"},{"ListKey":"87","ListValue":"陳奕軒"}]';
                var jsdata = JSON.parse(data);
                var appenddata;
                appenddata += "<option value = ''>請選擇</option>";
                $.each(jsdata, function (key, value) {
                    appenddata += "<option value = '" + value.uid + "'>" + value.uname + " </option>";
                });
                $('#DelivUid').html(appenddata);
            },
            error: function (msg) {
                alert(msg);
            }
        });
    });

    $("#btnDELIVTRANS").click(function () {
        var s = "";
        $("input[name='chkENG']:checked").each(function () {
            s += $(this).parents("tr").children().get(2).innerText.trim();
            s += ";";
        });
        var eng = $("#DelivUid").val();
        if (s != "" && eng != "") {
            $.ajax({
                url: '../Assets/UpdDelivUid',
                data: { id: eng, assets: s },
                type: "POST",
                success: function (data) {
                    alert('更新保管人完成!!');
                },
                error: function (msg) {
                    alert(msg);
                }
            });
        }
    });

    $('#uploadFile').on('change', function (e) {
        //取得檔案
        var files = e.target.files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();

                //可上傳多檔案
                for (var x = 0; x < files.length; x++) {
                    data.append(files[x].name, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ImportAssetsByExcel", "Assets")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.success === true) {
                            alert("儲存成功!");
                        }
                        else {
                            if (data.success === false) {
                                alert(data.error);
                            }
                        }
                    }
                });
            }
        }
        document.getElementById("uploadFile").value = "";
    });
</script>