@model BMEDmgt.Areas.MedEngMgt.Models.AssetMaintainContract

@{
    ViewBag.Title = "詳細內容/設備維護合約";
}

<h2>詳細內容</h2>

<div id="pnlFILES" style="margin: 10pt">
    @Html.Action("List", "AttainFiles", new { id = Model.ContractNo, typ = "7" })
</div>

<div>
    <h4>設備維護合約</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContractName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorUniteNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorUniteNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeqNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeqNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cycle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cycle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseLife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UseLife)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StagePayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StagePayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StageCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StageCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndNotice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndNotice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rtp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rtp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rtt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rtt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯合約", "Edit", new { id = Model.ContractNo }) |
    @Html.ActionLink("回到合約列表", "Index")
</p>
