@model IEnumerable<BMEDmgt.Areas.MedEngMgt.Models.AssetsInMContracts>

<script>
    $(function () {
        var URL = "../AssetMaintainContracts/DeleteAsset";
        if (window.location.href.indexOf("Edit") > -1 || 
            window.location.href.indexOf("Create2") > -1 ) {
            URL = "../../AssetMaintainContracts/DeleteAsset";
        }

        $("#pnlASSETLIST a").click(function () {
            if (confirm("確定要刪除此資料?")) {
                var id = $("#PurchaseNo").val();
                var tr = $(this).parents('tr');
                var seq = $(this).parents('tr').children();
                $.ajax({
                    url: URL,
                    type: "POST",
                    data: { purchaseNo: id, assetNo: seq.get(0).innerText.trim() },
                    async: true,
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            tr.remove();
                            CountCost();
                            CountQty();
                        }
                        else {
                            alert(data.error);
                        }
                    }
                });
                return false;
            }
            else
                return false;
        });
        function CountCost() {
            var totalCost = 0;
            $("#pnlASSETLIST table tbody td:nth-child(7)").each(function () {
                var cost = $.trim($(this).text());
                totalCost += (cost * 1);
                $("#UniteCost").val(totalCost);
                $("#UniteCost").trigger("change");
            });
        }

        function CountQty() {
            var totalQty = 0;
            $("#pnlASSETLIST table tbody td:nth-child(6)").each(function () {
                var qty = $.trim($(this).text());
                totalQty += (qty * 1);
                $("#Qty").val(totalQty);
                $("#Qty").trigger("change");
            });
        }
    });
</script>

<h5><b>設備列表</b></h5>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssetNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccDptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniteCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssetNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccDptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNo)
        </td>
        <td name="pnlQTY">
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td name="pnlUCOST">
            @Html.DisplayFor(modelItem => item.UniteCost)
        </td>
        <td>
            @Html.ActionLink("刪除", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
