@{
    ViewBag.Title = "查詢/設備維護合約管理";
}

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script>
    $(function () {
        $("#QryForm").submit();
    });
</script>

<h2>合約查詢</h2>
<h4>設備維護合約</h4>

@using (Ajax.BeginForm("Index", "AssetMaintainContracts", null,
    new AjaxOptions
    {
        UpdateTargetId = "pnlCONTRACTLIST",
        HttpMethod = "POST",
        LoadingElementId = "imgLOADING"
    },
    new { @class = "form-horizontal", id = "QryForm" }))
{
    <div class="form-group">
        <div class="form-inline">
            @Html.Label("qtyPurchaseNo", "採購編號", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBox("qtyPurchaseNo", "", new { @class = "form-control" })
            </div>
            @Html.Label("qtyASSETNO", "財產編號", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBox("qtyASSETNO", "", new { @class = "form-control" })
            </div>
            @Html.Label("qtyASSETNAME", "儀器名稱(關鍵字)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBox("qtyASSETNAME", "", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-inline">
            @Html.Label("qtyVendorName", "廠商名稱(關鍵字)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBox("qtyVendorName", "", new { @class = "form-control" })
            </div>
            @Html.Label("qtyVendorUniteNo", "廠商統一編號", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBox("qtyVendorUniteNo", "", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="btnQTY" type="submit" value="查詢" class="btn btn-default" />
            <img id="imgLOADING" src="~/Images/opc-ajax-loader.gif" style="display: none" />
        </div>
    </div>

}

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">新增合約</a>
</p>

<div id="pnlCONTRACTLIST" style="margin: 20px 0">

</div>

