@model IEnumerable<BMEDmgt.Areas.MedEngMgt.Models.AssetMaintainContract>

@{
    Layout = null;
    ViewBag.Title = "列表";
}

<script>
        $(function(){
            $('input[name="chkALL"]').change(function () {
                if ($(this).prop("checked")) {
                    $("input[name='chkCONTRACT']").each(function () {
                        $(this).prop("checked", true);
                    });
                }
                else {
                    $("input[name='chkCONTRACT']").each(function () {
                        $(this).prop("checked", false);
                    });
                }
            });
            /* Export excel. */
            $("#BtnExportExcel").click(function () {
                var s = "";
                $("input[name='chkCONTRACT']:checked").each(function () {
                    s += $(this).parents("tr").children().get(1).innerText.trim();
                    s += ";";
                });
                if (s != "") {
                    $.ajax({
                        url: '@Url.Action("ExportToExcel", "AssetMaintainContracts")',
                        data: { contracts: s },
                        type: "GET",
                        beforeSend: function () {
                            $("#imgLOADING2").show();
                        },
                        success: function (data) {
                            window.location.href = '@Url.Action("ExportToExcel", "AssetMaintainContracts")' + '?contracts=' + s;
                            $("#imgLOADING2").hide();
                        },
                        error: function (msg) {
                            alert(msg);
                            $("#imgLOADING2").hide()
                        }
                    });
                }
                else {
                    alert("尚未選擇合約!");
                }
            });
        });
</script>

<h3>合約列表</h3>

<button type="button" class="btn btn-primary" id="BtnExportExcel">匯出Excel</button>
<img id="imgLOADING2" src="~/Images/opc-ajax-loader.gif" style="display: none" />

<table class="table">
    <tr>
        <th style="min-width: 80px;">
            @Html.CheckBox("chkALL") 全選
        </th>
        <th style="min-width:100px;">
            @Html.DisplayNameFor(model => model.PurchaseNo)
        </th>
        <th style="min-width:100px;">
            @Html.DisplayNameFor(model => model.ContractNo)
            <br />
            @Html.DisplayNameFor(model => model.ContractName)
        </th>
        <th style="min-width:150px;">
            @Html.DisplayNameFor(model => model.VendorId)
            <br />
            @Html.DisplayNameFor(model => model.VendorName)
            <br />
            @Html.DisplayNameFor(model => model.VendorUniteNo)
        </th>
        @*<th style="min-width:200px;">
            @Html.DisplayNameFor(model => model.AssetNo)
            <br />
            @Html.DisplayNameFor(model => model.AssetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
            <br />
            @Html.DisplayNameFor(model => model.Type)
            <br />
            @Html.DisplayNameFor(model => model.SerialNo)
        </th>*@
        <th style="min-width:50px;">
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        @*<th style="min-width:50px;">
            @Html.DisplayNameFor(model => model.Unite)
        </th>*@
        <th style="min-width:100px;">
            @Html.DisplayNameFor(model => model.Sdate)
            <br />
            @Html.DisplayNameFor(model => model.Edate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cycle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseLife)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th style="min-width: 110px;">
            @Html.DisplayNameFor(model => model.IsTraining)/
            <br />
            @Html.DisplayNameFor(model => model.IsYearKeepReport)
            <br />
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th style="min-width:120px;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.CheckBox("chkCONTRACT")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractNo)
                <br />
                @Html.DisplayFor(modelItem => item.ContractName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorId)
                <br />
                @Html.DisplayFor(modelItem => item.VendorName)
                <br />
                @Html.DisplayFor(modelItem => item.VendorUniteNo)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.AssetNo)
                <br />
                @Html.DisplayFor(modelItem => item.AssetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
                <br />
                @Html.DisplayFor(modelItem => item.Type)
                <br />
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Unite)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Sdate)
                <br />
                @Html.DisplayFor(modelItem => item.Edate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cycle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UseLife)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @if (item.IsTraining == "Y")
                {
                    <span>是</span>
                }
                @if (item.IsYearKeepReport == "Y")
                {
                    <span>/是</span>
                }
            </td>
            <td style="max-width:200px; word-wrap:break-word;">
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.PurchaseNo }) |
                @Html.ActionLink("詳細內容", "Details", new { id = item.PurchaseNo }) |
                @Html.ActionLink("複製合約", "Create2", new { id = item.PurchaseNo }) |
                @Html.ActionLink("刪除", "Delete", new { id = item.PurchaseNo })
            </td>
        </tr>
    }

</table>
