<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 醫療暨工務設備管理系統</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img style="width:60%; height:60%;padding:5px 15px 5px 0px" src="~/Images/logo.png" />
                
            </div>
            <div class="navbar-collapse collapse">
                @*@Html.ActionLink("醫療設備管理系統", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                  @Html.ActionLink("工務室 儀器組", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("關於", "About", "Home")</li>
                    <li>@Html.ActionLink("連絡方式", "Contact", "Home")</li>
                </ul>*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 國立陽明交通大學附設醫院　工務室</p>
            <p>若有相關問題請撥打工務室分機：10076，電話佔線時請耐心等候</p>
            <p>蘭陽院區 : 26058 宜蘭市校舍路169號</p>
            <p>新民院區 : 26042 宜蘭市新民路152號</p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
