@model BMEDmgt.Areas.MedEngMgt.Models.AssetPurchaseContract
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

@{
    ViewBag.Title = "編輯/設備新購合約";
}

<h2>編輯合約</h2>

<div id="pnlFILES" style="margin: 10pt">
    @Html.Action("List2", "AttainFiles", new { id = Model.PurchaseNo, typ = "8" })
</div>
<div class="form-group">
    <div>
        <input id="btnFILES" type="button" value="夾帶附件檔案" class="btn btn-default" data-toggle="modal" data-target="#modalFILES">
    </div>
</div>
<!-- 夾帶檔案 Modal -->
<div id="modalFILES" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">選擇上傳檔案</h4>
            </div>
            <div class="modal-body">
                @Html.Action("Upload2", "AttainFiles", new { doctype = "8", docid = Model.PurchaseNo })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">離開</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>設備新購合約</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PurchaseNo)
        @Html.HiddenFor(model => model.Status)

        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding-top: 7px;">
                @Html.DisplayFor(model => model.PurchaseNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PurchaseName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PurchaseName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContractNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding-top: 7px;">
                @Html.EditorFor(model => model.ContractNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContractNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContractClass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContractClass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContractClass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssetClass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssetClass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AssetClass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PAssetClass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PAssetClass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PAssetClass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeaveLoc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LeaveLoc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LeaveLoc, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.VendorId)
        <div id="CVendor" class="form-group">
            @Html.LabelFor(model => model.VendorName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 form-inline">
                @Html.EditorFor(model => model.VendorName, new { htmlAttributes = new { @class = "form-control" } })
                <input id="btnQtyVendor" type="button" value="查詢" class="btn btn-default" data-toggle="modal" data-target="#modalVENDOR">
                @Html.ValidationMessageFor(model => model.VendorName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VendorUniteNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VendorUniteNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.VendorUniteNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VendorPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VendorPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VendorPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Budget, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AcceptDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AcceptDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AcceptDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Warranty, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Warranty, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Warranty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WarrantySdate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WarrantySdate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WarrantySdate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WarrantyEdate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WarrantyEdate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WarrantyEdate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WarrantyMargin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WarrantyMargin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WarrantyMargin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PerformanceMargin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PerformanceMargin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PerformanceMargin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BasicPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BasicPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BasicPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContractTotalPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContractTotalPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContractTotalPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AwardDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AwardDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AwardDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HasPermitNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.HasPermitNo == "Y")
                {
                    @Html.RadioButton("HasPermitNo", "Y", true)<span>是</span>
                    @Html.RadioButton("HasPermitNo", "N")<span>否</span>
                }
                else
                {
                    @Html.RadioButton("HasPermitNo", "Y")<span>是</span>
                    @Html.RadioButton("HasPermitNo", "N", true)<span>否</span>
                }
                @Html.ValidationMessageFor(model => model.HasPermitNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-offset-2" id="permitPnl">
            @Html.Action("CreatePermit")
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UseDpt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-inline">
                    @Html.TextBox("UseDptKeyName", "", new { @class = "form-control", placeholder = "代號或關鍵字" })
                    <input id="btnQtyUseDpt" type="button" value="查詢" class="btn btn-default">
                    @Html.DropDownListFor(model => model.UseDpt, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UseDpt, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseDpt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-inline">
                    @Html.TextBox("PurchaseDptKeyName", "", new { @class = "form-control", placeholder = "代號或關鍵字" })
                    <input id="btnQtyPurchaseDpt" type="button" value="查詢" class="btn btn-default">
                    @Html.DropDownListFor(model => model.PurchaseDpt, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PurchaseDpt, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseUName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-inline">
                    @Html.TextBox("PurchaseUNameKeyName", "", new { @class = "form-control", placeholder = "姓名關鍵字" })
                    @Html.HiddenFor(model => model.PurchaseUName)
                    <input id="btnQtyPurchaseUName" type="button" value="查詢" class="btn btn-default">
                    @Html.DropDownListFor(model => model.PurchaseUid, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PurchaseUid, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.PermitNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PermitNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PermitNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PermitValid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PermitValid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PermitValid, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Sponsor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-inline">
                    @Html.TextBox("SponsorDptKeyName", "", new { @class = "form-control", placeholder = "代號或關鍵字" })
                    <input id="btnQtySponsorDpt" type="button" value="查詢" class="btn btn-default">
                    @Html.DropDownListFor(model => model.Sponsor, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Sponsor, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SponsorUid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-inline">
                    @Html.TextBox("SponsorKeyName", "", new { @class = "form-control", placeholder = "代號或關鍵字" })
                    <input id="btnQtySponsor" type="button" value="查詢" class="btn btn-default">
                    @Html.DropDownListFor(model => model.SponsorUid, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SponsorUid, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CoOrganizer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-inline">
                    @Html.TextBox("CoOrganizerDptKeyName", "", new { @class = "form-control", placeholder = "代號或關鍵字" })
                    <input id="btnQtyCoOrganizerDpt" type="button" value="查詢" class="btn btn-default">
                    @Html.DropDownListFor(model => model.CoOrganizer, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CoOrganizer, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CoOrganizerUid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-inline">
                    @Html.TextBox("CoOrganizerKeyName", "", new { @class = "form-control", placeholder = "代號或關鍵字" })
                    <input id="btnQtyCoOrganizer" type="button" value="查詢" class="btn btn-default">
                    @Html.DropDownListFor(model => model.CoOrganizerUid, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CoOrganizerUid, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Note, 5, 50, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="儲存" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("回到合約列表", "Index")
</div>

<!-- 廠商 Modal -->
<div id="modalVENDOR" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">選擇廠商</h4>
            </div>
            <div id="pnlSELECTVENDOR" class="modal-body">
                @Html.Action("QryVendor", "Vendors")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $.ajax({
                url: "../../AssetPurchaseContracts/GetPermitList",
                type: "GET",
                data: { 'purchaseNo': $("#PurchaseNo").val() },
                async: true,
                cache: false,   // For IE11 to workng fine.
                success: function (data) {
                    $("#permitListPnl").html(data);
                }
            });

            var defaultPNO = $("input[type=radio][name=HasPermitNo]:checked").val();
            if (defaultPNO == 'Y') {
                $("#permitPnl").show();
            }
            else if (defaultPNO == 'N') {
                $("#permitPnl").hide();
            }

            /* Prevent submit for pressing Enter. */
            $('input').keypress(function (e) {
                code = e.keyCode ? e.keyCode : e.which; // in case of browser compatibility
                if (code == 13) {
                    e.preventDefault();
                    // do something
                    /* also can use return false; instead. */
                }
            });

            $(".datefield").datepicker({
                format: "yyyy/mm/dd"
            });

            $('.modal').on('shown.bs.modal', function () {
                //Make sure the modal and backdrop are siblings (changes the DOM)
                $(this).before($('.modal-backdrop'));
                //Make sure the z-index is higher than the backdrop
                $(this).css("z-index", parseInt($('.modal-backdrop').css('z-index')) + 1);
            });

            $("input[type=radio][name=HasPermitNo]").change(function () {
                if (this.value == 'Y') {
                    $("#permitPnl").show();
                }
                else if (this.value == 'N') {
                    $("#permitPnl").hide();
                }
            });

            $('#modalVENDOR').on('hidden.bs.modal', function () {
                var vno = $("#Vno option:selected").val();
                var vname = $("#Vno option:selected").text();
                $("#VendorId").val(vno);
                $("#VendorName").val(vname);
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: '../../Vendors/GetVendorDetails',
                    type: "GET",
                    data: { id: vno },
                    dataType: "json",
                    success: function (data) {
                        $('#VendorUniteNo').val(data.UniteNo);
                        $('#VendorPhone').val(data.Tel);
                    }
                });
            });

            $("#btnQtyAsset").click(function () {
                var keynam = $("#AssetKeyName").val();
                if (keynam !== "") {
                    $.ajax({
                        contentType: "application/json; charset=utf-8",
                        url: '../../Assets/GetAssetsByKeyname',
                        type: "GET",
                        data: { keyname: keynam },
                        dataType: "json",
                        success: function (data) {
                            //var s = '[{"ListKey":"44","ListValue":"test1"},{"ListKey":"87","ListValue":"陳奕軒"}]';
                            var jsdata = JSON.parse(data);
                            var appenddata;
                            appenddata += "<option value = '000'>請選擇</option>";
                            $.each(jsdata, function (key, value) {
                                appenddata += "<option value = '" + value.AssetNo + "'>" + value.Cname + " </option>";
                            });
                            $('#AssetNo').html(appenddata);
                        },
                        error: function (msg) {
                            alert(msg);
                        }
                    });
                }
            });

            $("#btnQtyUseDpt").click(function () {
                var keynam = $("#UseDptKeyName").val();
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: '../../Departments/GetDptsByKeyname',
                    type: "GET",
                    data: { keyname: keynam },
                    dataType: "json",
                    success: function (data) {
                        //var s = '[{"ListKey":"44","ListValue":"test1"},{"ListKey":"87","ListValue":"陳奕軒"}]';
                        var jsdata = JSON.parse(data);
                        var appenddata;
                        appenddata += "<option value = ''>請選擇</option>";
                        $.each(jsdata, function (key, value) {
                            appenddata += "<option value = '" + value.dptid + "'>" + value.dptname + " </option>";
                        });
                        $('#UseDpt').html(appenddata);
                    },
                    error: function (msg) {
                        alert(msg);
                    }
                });
            });

            $("#btnQtyPurchaseDpt").click(function () {
                var keynam = $("#PurchaseDptKeyName").val();
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: '../../Departments/GetDptsByKeyname',
                    type: "GET",
                    data: { keyname: keynam },
                    dataType: "json",
                    success: function (data) {
                        //var s = '[{"ListKey":"44","ListValue":"test1"},{"ListKey":"87","ListValue":"陳奕軒"}]';
                        var jsdata = JSON.parse(data);
                        var appenddata;
                        appenddata += "<option value = ''>請選擇</option>";
                        $.each(jsdata, function (key, value) {
                            appenddata += "<option value = '" + value.dptid + "'>" + value.dptname + " </option>";
                        });
                        $('#PurchaseDpt').html(appenddata);
                    },
                    error: function (msg) {
                        alert(msg);
                    }
                });
            });

            $("#btnQtyPurchaseUName").click(function () {
                var keynam = $("#PurchaseUNameKeyName").val();
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: '../../AppUsers/GetUsersByKeyname',
                    type: "GET",
                    data: { keyname: keynam },
                    dataType: "json",
                    success: function (data) {
                        var jsdata = JSON.parse(data);
                        var appenddata;
                        appenddata += "<option value = ''>請選擇</option>";
                        $.each(jsdata, function (key, value) {
                            appenddata += "<option value = '" + value.uid + "'>" + value.uname + " </option>";
                        });
                        $('#PurchaseUid').html(appenddata);
                    },
                    error: function (msg) {
                        alert(msg);
                    }
                });
            });

            $("#btnQtySponsor").click(function () {
                var keynam = $("#SponsorKeyName").val();
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: '../../AppUsers/GetUsersByKeyname',
                    type: "GET",
                    data: { keyname: keynam },
                    dataType: "json",
                    success: function (data) {
                        var jsdata = JSON.parse(data);
                        var appenddata;
                        appenddata += "<option value = ''>請選擇</option>";
                        $.each(jsdata, function (key, value) {
                            appenddata += "<option value = '" + value.uid + "'>" + value.uname + " </option>";
                        });
                        $('#SponsorUid').html(appenddata);
                    },
                    error: function (msg) {
                        alert(msg);
                    }
                });
            });

            $("#btnQtyCoOrganizer").click(function () {
                var keynam = $("#CoOrganizerKeyName").val();
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: '../../AppUsers/GetUsersByKeyname',
                    type: "GET",
                    data: { keyname: keynam },
                    dataType: "json",
                    success: function (data) {
                        var jsdata = JSON.parse(data);
                        var appenddata;
                        appenddata += "<option value = ''>請選擇</option>";
                        $.each(jsdata, function (key, value) {
                            appenddata += "<option value = '" + value.uid + "'>" + value.uname + " </option>";
                        });
                        $('#CoOrganizerUid').html(appenddata);
                    },
                    error: function (msg) {
                        alert(msg);
                    }
                });
            });

            $('#modalFILES').on('hidden.bs.modal', function () {
                var docid = $("#PurchaseNo").val();
                $.ajax({
                    url: '../../AttainFiles/List2',
                    type: "POST",
                    data: { id: docid, typ: "8" },
                    success: function (data) {
                        $("#pnlFILES").html(data);
                    }
                });
            });

            $("#btnQtySponsorDpt").click(function () {
                var keynam = $("#SponsorDptKeyName").val();
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: '../Departments/GetDptsByKeyname',
                    type: "GET",
                    data: { keyname: keynam },
                    dataType: "json",
                    success: function (data) {
                        //var s = '[{"ListKey":"44","ListValue":"test1"},{"ListKey":"87","ListValue":"陳奕軒"}]';
                        var jsdata = JSON.parse(data);
                        var appenddata;
                        appenddata += "<option value = ''>請選擇</option>";
                        $.each(jsdata, function (key, value) {
                            appenddata += "<option value = '" + value.dptid + "'>" + value.dptname + " </option>";
                        });
                        $('#Sponsor').html(appenddata);
                    },
                    error: function (msg) {
                        alert(msg);
                    }
                });
            });
            $("#btnQtyCoOrganizerDpt").click(function () {
                var keynam = $("#CoOrganizerDptKeyName").val();
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    url: '../Departments/GetDptsByKeyname',
                    type: "GET",
                    data: { keyname: keynam },
                    dataType: "json",
                    success: function (data) {
                        //var s = '[{"ListKey":"44","ListValue":"test1"},{"ListKey":"87","ListValue":"陳奕軒"}]';
                        var jsdata = JSON.parse(data);
                        var appenddata;
                        appenddata += "<option value = ''>請選擇</option>";
                        $.each(jsdata, function (key, value) {
                            appenddata += "<option value = '" + value.dptid + "'>" + value.dptname + " </option>";
                        });
                        $('#CoOrganizer').html(appenddata);
                    },
                    error: function (msg) {
                        alert(msg);
                    }
                });
            });

            $("#BtnCreatePermit").click(function () {
                var v1 = $("#PurchaseNo").val();
                var v2 = $("#PermitNo").val();
                var v3 = $("#PermitValid").val();
                //console.log("v1:" + v1 + "v2:" + v2 + "v3" + v3);
                $.ajax({
                    url: "../../AssetPurchaseContracts/CreatePermit",
                    type: "POST",
                    data: { 'purchaseNo': v1, 'permitNo': v2, 'permitValid': v3 },
                    async: false,
                    dataType: "json",
                    success: function (data) {
                        if (!data.success)
                            alert(data.error);
                        else {
                            alert("新增成功!");
                            $.ajax({
                                url: "../../AssetPurchaseContracts/GetPermitList",
                                type: "GET",
                                data: { 'purchaseNo': v1 },
                                async: true,
                                success: function (data) {
                                    $("#permitListPnl").html(data);
                                }
                            });
                        }
                    }
                });

            });

        });

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}