@model IEnumerable<BMEDmgt.Areas.MedEngMgt.Models.AssetPurchaseContract>

@{
    Layout = null;
    ViewBag.Title = "列表/設備新購合約管理";
}

<h3>合約列表</h3>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">新增合約</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveLoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorUniteNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractTotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwardDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcceptDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Warranty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarrantySdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarrantyEdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarrantyMargin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerformanceMargin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseDpt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDpt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseUName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermitNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermitValid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sponsor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SponsorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoOrganizer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoOrganizerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAssetClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rtp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rtt)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveLoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorUniteNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractTotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warranty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarrantySdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarrantyEdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarrantyMargin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerformanceMargin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UseDpt)<br />
                @Html.DisplayFor(modelItem => item.UseDptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDpt)<br />
                @Html.DisplayFor(modelItem => item.PurchaseDptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseUName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitValid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SponsorDptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SponsorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoOrganizerDptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoOrganizerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PAssetClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rtp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rtt)
                </td>*@
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.ContractNo }) |
                @Html.ActionLink("詳細內容", "Details", new { id = item.ContractNo }) |
                @Html.ActionLink("刪除", "Delete", new { id = item.ContractNo })
            </td>
        </tr>
    }

</table>
