@model IEnumerable<BMEDmgt.Areas.MedEngMgt.Models.AssetPurchaseContract>

@{
    Layout = null;
    ViewBag.Title = "列表/設備新購合約管理";
}

<h3>合約列表</h3>

@*<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">新增合約</a>
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseNo)<br />
            @Html.DisplayNameFor(model => model.PurchaseName)<br />
            @Html.DisplayNameFor(model => model.ContractNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveLoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorName)<br />
            @Html.DisplayNameFor(model => model.VendorUniteNo)<br />
            @Html.DisplayNameFor(model => model.VendorPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractClass)<br />
            @Html.DisplayNameFor(model => model.ContractTotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarrantySdate)<br />
            @Html.DisplayNameFor(model => model.WarrantyEdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UseDpt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDpt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseUName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sponsor)<br />
            @Html.DisplayNameFor(model => model.SponsorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoOrganizer)<br />
            @Html.DisplayNameFor(model => model.CoOrganizerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rtp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rtt)
            </th>*@
        <th style="min-width:120px;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="min-width:100px;">
                @Html.DisplayFor(modelItem => item.PurchaseNo)<br />
                @Html.DisplayFor(modelItem => item.PurchaseName)<br />
                @Html.DisplayFor(modelItem => item.ContractNo)
            </td>
            <td style="min-width:75px;">
                @Html.DisplayFor(modelItem => item.LeaveLoc)
            </td>
            <td style="min-width:150px;">
                @Html.DisplayFor(modelItem => item.VendorName)<br />
                @Html.DisplayFor(modelItem => item.VendorUniteNo)<br />
                @Html.DisplayFor(modelItem => item.VendorPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractClass)<br />
                @Html.DisplayFor(modelItem => item.ContractTotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarrantySdate)<br />
                @Html.DisplayFor(modelItem => item.WarrantyEdate)
            </td>
            <td style="min-width:125px;">
                @Html.DisplayFor(modelItem => item.UseDpt)<br />
                @Html.DisplayFor(modelItem => item.UseDptName)
            </td>
            <td style="min-width:125px;">
                @Html.DisplayFor(modelItem => item.PurchaseDpt)<br />
                @Html.DisplayFor(modelItem => item.PurchaseDptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseUName)
            </td>
            <td style="min-width:125px;">
                @Html.DisplayFor(modelItem => item.SponsorDptName)<br />
                @Html.DisplayFor(modelItem => item.SponsorName)
            </td>
            <td style="min-width:125px;">
                @Html.DisplayFor(modelItem => item.CoOrganizerDptName)<br />
                @Html.DisplayFor(modelItem => item.CoOrganizerName)
            </td>
            <td style="min-width:125px;">
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rtp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rtt)
                </td>*@
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.PurchaseNo}) |
                @Html.ActionLink("詳細內容", "Details", new { id = item.PurchaseNo }) |
                @Html.ActionLink("刪除", "Delete", new { id = item.PurchaseNo })
            </td>
        </tr>
    }

</table>
