@model IEnumerable<BMEDmgt.Areas.MedEngMgt.Models.NoAssetNoList>

@{
    ViewBag.Title = "無財編設備名稱選單";
}

<h2>無財編設備名稱選單</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flg)
        </td>
        <td>
            @Html.ActionLink("修改", "Edit", new { id=item.Id }) @*|
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
