@model BMEDmgt.Areas.MedEngMgt.Models.AppUser
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
@{
    ViewBag.Title = "修改使用者";
}

<h2>修改</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>使用者</h4>
        <hr />
        @Html.ValidationSummary()
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.Password)
        @Html.HiddenFor(model => model.DateCreated)
        @Html.HiddenFor(model => model.LastActivityDate)
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Roles.IsUserInRole("Admin"))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.newPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.newPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.newPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DptId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DptId, BMEDmgt.Areas.MedEngMgt.Models.Department.GetList(),
               "請選擇", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DptId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.HiddenFor(model => model.VendorId)
            @Html.LabelFor(model => model.VendorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-inline">
                    @Html.Editor("VendorName", new { htmlAttributes = new { @class = "form-control" } })
                    <input id="btnQtyVendor" type="button" value="查詢" class="btn btn-default" data-toggle="modal" data-target="#modalVENDOR">
                    @Html.ValidationMessageFor(model => model.VendorId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @if (Roles.IsUserInRole("Admin"))
        {
            <div class="form-group">
                <div class="control-label col-md-2">
                    <label>設定角色</label>
                </div>
                <div class="col-md-10">
                    <div class="editor-field">
                        <table style="width: 50%">
                            @for (int i = 0; i < Model.InRoles.Count; i++)
                            {
                                if (i % 3 == 0)
                                {
                                    @Html.Raw("<tr>")
                                }
                                @Html.Raw("<td width='25%'>")
                                @Html.CheckBoxFor(model => model.InRoles[i].IsSelected)
                                @Html.HiddenFor(model => model.InRoles[i].RoleName)
                                @Html.Raw(Model.InRoles[i].Description)
                                @Html.Raw("</td>")
                                if (i % 3 == 2)
                                {
                                    @Html.Raw("</tr>")
                                }
                            }
                        </table>
                    </div>

                </div>
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.Ext, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ext, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ext, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Roles.IsUserInRole("Super") ||
                             Roles.IsUserInRole("Admin") ||
                             Roles.IsUserInRole("Manager"))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.RadioButtonFor(model => model.Status, "Y")開啟
                    @Html.RadioButtonFor(model => model.Status, "N")關閉
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(model => model.Status)
        }

        <div class="form-group">
            @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastActivityDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.LastActivityDate, "{0:dd/MM/yyyy}")
                @Html.ValidationMessageFor(model => model.LastActivityDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="儲存" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<!-- 廠商 Modal -->
<div id="modalVENDOR" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">選擇廠商</h4>
            </div>
            <div id="pnlSELECTVENDOR" class="modal-body">
                @Html.Action("QryVendor", "Vendors")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("回到使用者列表", "Index")
</div>

@section Scripts{
    <script>
        $(function () {
            $('#modalVENDOR').on('hidden.bs.modal', function () {
                var vno = $("#Vno option:selected").val();
                var vname = $("#Vno option:selected").text();
                $("#VendorId").val(vno);
                $("#VendorName").val(vname);
            });
        })
    </script>
}
