@model IEnumerable<BMEDmgt.Areas.MedEngMgt.Models.RepairListVModel>

<script src="~/Areas/MedEngMgt/Scripts/HtmltoExcel.js"></script>

<input id="exportExcel" type="button" value="匯出Excel" class="btn btn-default"
       onclick="javascript:exportExcel('tbREPAIR')" />
<table class="table" id="tbREPAIR">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyDptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TroubleDes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DealState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DealDes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlowUName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Days)
        </th>*@
        <th>
            流程狀態
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyDptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetNo)<br />
                @Html.DisplayFor(modelItem => item.AssetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TroubleDes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DealDes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlowUName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>*@
            <td>
                @if (item.Flg == "2")
                {
                    <span>已結案</span>
                }
                else
                {
                    <span>流程中</span>
                }
            </td>
            <td width="100px">
                @if (item.Flg == "?" && (Roles.IsUserInRole("Admin") || Roles.IsUserInRole("Manager")))
                {
                    @Html.ActionLink("編輯", "Edit", new { id = item.DocId })
                    @Html.Raw("|")
                }
                @Html.ActionLink("列印", "Print", new { id = item.DocId }, new { target = "_blank" }) |
                @Html.ActionLink("預覽", "Views", new { id = item.DocId })
            </td>

        </tr>
    }

</table>
